body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:#222;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background: black;
  padding: 30px 25px;
  border-radius: 20px;
  width: 380px;
  text-align: center;
  position: relative;
}

/* Close */
.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo svg {
  width: 36px;
  height: 36px;
}

/* Heading */
h2 {
  margin-bottom: 20px;
  color: white;
}
* {
  box-sizing: border-box;
}

/* Input */
.input-group {
  position: relative;
  margin-bottom: 10px;
  padding: 2px 1px;
}

.input-group input {
  color:white ;
  background-color: black;
  width: 100%;
  height: 56px;
  padding: 20px 14px 6px;
  border-radius: 12px;
  border: 1px solid #bbb;
  font-size: 14px;
  line-height: 20px;
}

.input-group input:focus {
  border: 2px solid #222;
}

/* Label */
.input-group label {
  position: absolute;
  left: 12px;
  top: 14px;
  color: #777;
  font-size: 14px;
  transition: 0.2s ease;
} 

/* Floating */
.input-group input:focus + label,
.input-group input:valid + label {
  top: 6px;
  font-size: 11px;
}

/* Helper */
.helper-text {
  font-size: 12px;
  color: #666;
  text-align: left;
  margin: 10px 0 15px;
}

.helper-text span {
  text-decoration: underline;
  cursor: pointer;
}

/* Button */
.continue {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(to right, #ff385c, #e61e4d);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #666;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
}

.divider span {
  margin: 0 10px;
}

/* Social */
.social {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-btn {
  width: 64px;
  height: 56px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-btn:hover {
  border-color: #222;
}

.social-btn img,
.social-btn svg {
  width: 22px;
  height: 22px;
}