.row-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  scroll-behavior: smooth;
}

.row-container::-webkit-scrollbar {
  height: 8px;
}

.row-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}